.order-wishlist-box {
    display:inline-block;
    margin: 1em;

}

#parent-box {
    display: flex;
    gap: 3em;
}

#order-box {
    display: flex;
    flex-direction: column;
}

#wishlist-box {
    display: flex;
    flex-direction: column;
}