<app-navbar></app-navbar>
<div class="container py-5">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-light" routerLink="/home"> Back to Home </button>
        </div>
        <br><br><br>
    </div>
    <div class="row border-bottom">
        <div class="col-md-2">
            <div class="justify-text-center">
                <img [src]="product.image" height="100%" width="200px" class="p-1">
            </div>
        </div>

        <div class="col-md-8 p-5">
            <h2>{{product.name}}</h2>
            <h6>Rating: &#9733;&#9733;&#9733;&#9733;&#9734;
                <button type="button" class="btn btn-sm btn-warning mx-1">Leave a Review</button>
                <button type="button" class="btn btn-sm btn-primary" *ngIf="!wishListed" (click)="addToWishList(product)">Add to Wishlist</button>
                <button type="button" class="btn btn-sm btn-primary" *ngIf="wishListed">Added to Wishlist!</button>
                <button type="button" class="btn btn-sm btn-danger mx-1">Remove from Wishlist</button>
            </h6>
            <span class="fw-bold">{{product.quantity}} </span> In Stock
        </div>

        <div class="col-md-2 p-5 border-start justify-content-center">
            <h2>{{product.price | currency}}</h2>
            <form #addForm="ngForm" (ngSubmit)="addToCart(addForm, product)">
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input class="form-control form-control-sm" type="number" min="1" id="quantity" name="quantity"
                        aria-label=".form-control-sm" ngModel="1" class="form-control">
                </div>
                <button type="button" class="btn btn-warning my-1" type="submit">Add to Cart</button>
            </form>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-12">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            Description
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            {{product.description}}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            Specifications
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th scope="row">Product ID</th>
                                        <td>{{product.id}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Genre</th>
                                        <td>{{product.genre}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            Related Products
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <app-related-products [currentProduct]="product"></app-related-products>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>