<app-navbar></app-navbar>

<div class="container py-5">
    <button class="btn btn-light" routerLink="/orders"
        style="border: solid 1px var(--bs-border-color-translucent);">&lt; Orders</button>

    <div class="row" *ngIf="order != null">
        <div class="col-12 mx-1 my-1 p-3 card">
            <div class="card-header">
                <div class="row">
                    <div class="col-3 order-info fw-bold">Order ID</div>
                    <div class="col-3 order-info fw-bold">Date Purchased</div>
                    <div class="col-3 order-info fw-bold">Total Items</div>
                    <div class="col-3 order-info fw-bold">Total Price</div>
                    <div class="col-3 order-info">{{order.orderId}}</div>
                    <div class="col-3 order-info">{{order.dateOrdered | date:'MMM d, y'}}</div>
                    <div class="col-3 order-info">{{getItemTotal(order)}}</div>
                    <div class="col-3 order-info">{{getTotalCost(order) | currency:"USD"}}</div>
                </div>
            </div>
            <div class="card-body">
                <div class="row" *ngFor="let product of order.products; let last = last;">
                    <div class="col-3 order-info"><img [src]="product.product.image"
                            routerLink="/product/{{product.product.id}}" class="product-image"></div>
                    <div class="col-3 order-info"><span style="text-decoration: underline; cursor: pointer;"
                            routerLink="/product/{{product.product.id}}">{{product.product.name}}</span></div>
                    <div class="col-3 order-info">{{product.quantity}}</div>
                    <div class="col-3 order-info">{{product.product.price*product.quantity | currency:"USD"}}</div>
                    <div class="border-bottom my-5" *ngIf="!last"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert-danger text-center my-3" *ngIf="order == null && errorMessage != ''">
        {{errorMessage}}
    </div>
</div>