<div class="container py-5 text-center">
  <main class="form-signin w-25 m-auto">
    <form [formGroup]="registerForm">
      <img class="mb-4" src="../../../assets/images/rev-logo.png" alt="" width="50%" height="50%" routerLink="/login">

      <div class="form-floating">
        <input type="text" class="form-control" formControlName="fname" id="floatingInput"
          placeholder="name@example.com">
        <label for="floatingInput">First name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" formControlName="lname" id="floatingInput"
          placeholder="name@example.com">
        <label for="floatingInput">Last name</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" formControlName="email" id="floatingInput"
          placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" formControlName="password" id="floatingPassword"
          placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="btn btn-primary my-3 mx-1" (click)="onSubmit()">Register</button>
      <button class="btn btn-danger my-3 mx-1" routerLink="/login">Back</button>
    </form>
  </main>
</div>