<nav class="navbar navbar-light bg-light">
    <h4 routerLink="/home">
        <img src="../../../assets/images/favicon.png" class="mx-1" width="8%" height="8%" alt="Revature">
        Revature Swag Shop
    </h4>
    <form class="form-inline">
        <button class="btn btn-light mx-1" [routerLink]="['/orders']">Orders</button>
        <button class="btn btn-light mx-1" [routerLink]="['/cart']">
            Cart
            <span class="badge badge-info">{{cartCount}}</span>
        </button>
        <!-- adding a button as a link to the profile component -->
        <button class="btn btn-light mx-1" [routerLink]="['/profile']">Profile</button>

        <button class="btn btn-outline-danger my-2 my-sm-0 mx-1" (click)="logout();">Logout</button>
    </form>
</nav>
