<nav class="navbar navbar-light bg-light">
    <h4 routerLink="/home">
        <img src="../../../assets/images/DDIconSmall.png" class="mx-1" width="6%" height="6%" alt="Digital Dominion Logo">
        Digital Dominion
    </h4>
    <table>
        <tr>
            <th><label>Search For Products: </label></th>
            <th><input #searchbar id="searchbar" type="search" (search)="searchForProducts(searchbar.value)"></th>
            <th><button id="searchButton" (click)="searchForProducts(searchbar.value)">Search</button></th>
        </tr>
        <tr id="results">
            <td></td>
            <td>
                <div id="searchResults" *ngIf="products.length > 0 || noResults">
                    <div *ngFor="let product of products | slice:0:5 let i = index;">
                        <!--These will link to the product eventually-->
                        <div class="searchResult" [routerLink]="['/product', product.id]" (click)="resetSearch()"><div>{{product.name}}</div></div>
                    </div>
                    <div *ngIf="noResults" id="noSearchResults">No Products Found</div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    <form class="form-inline">
        <button class="btn btn-light mx-1" [routerLink]="['/orders']">Orders</button>
        <button class="btn btn-light mx-1" [routerLink]="['/cart']">
            Cart
            <!-- <span class="badge badge-info">{{cartCount}}</span> -->
        </button>
        <!-- adding a button as a link to the profile component -->
        <button class="btn btn-light mx-1" [routerLink]="['/profile']">Profile</button>

        <button class="btn btn-outline-danger my-2 my-sm-0 mx-1" (click)="logout();">Logout</button>
    </form>
</nav>
